<div class="graph-wrapper">
    <canvas id="latticetest" width="16" height="9"></canvas>
</div>

<script>
    var ctx = document.getElementById('latticetest').getContext('2d');

    // Global defaults
//    Chart.defaults.global.defaultFontColor = '#333';

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Ben Moon', 'Magnus Mitbo', 'Steve McClure', 'Jim Pope', 'Max Milne', 'Will Bosi', 'Alex Megos'],
            datasets: [{
                label: '% of body weight',
                data: [101, 106, 115, 116, 118, 130, 132],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.4)',
                    'rgba(54, 162, 235, 0.4)',
                    'rgba(255, 206, 86, 0.4)',
                    'rgba(75, 192, 192, 0.4)',
                    'rgba(153, 102, 255, 0.4)',
                    'rgba(255, 159, 64, 0.4)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });
    </script>