
<div class="ct-chart ct-perfect-fourth"></div>


<script>
    var data = {
        // A labels array that can contain any sort of values
        labels: ['Ben Moon', 'Magnus Mitbo', 'Steve McClure', 'Jim Pope', 'Max Milne', 'Will Bosi', 'Alex Megos'],
        // Our series array that contains series objects or in this case series data arrays
        series: [
        [101, 106, 115, 116, 118, 130, 132]
        ]
    };
    var options = {
        low: 100,
        high: 140,
        horizontalBars: true,
        reverseData: true,
        axisY: {
            offset: 70
        }
    }
    // Create a new bar chart object where as first parameter we pass in a selector
    // that is resolving to our chart container element. The Second parameter
    // is the actual data object.
    new Chartist.Bar('.ct-chart', data, options);
</script>




<h2>Max-weight 5s hang on a 20mm edge</h2>

<div id="horizontal" class="ct-chart ct-perfect-fourth"></div>

<script>
new Chartist.Bar('#horizontal', {
    labels: ['Ben Moon', 'Magnus Mitbo', 'Steve McClure', 'Jim Pope', 'Max Milne', 'Will Bosi', 'Alex Megos'],
    series: [
      [101, 106, 115, 116, 118, 130, 132],
      // [3, 2, 9, 5, 4, 6, 4]
    ]
  }, 
{
    seriesBarDistance: 10,
    reverseData: true,
    horizontalBars: true,
    axisY: {
      offset: 70
    }
  });
  var options = {
      high: 140,
      low: 70
  }
</script>