{{/* this only works on a folder called design */}}

<script>
    baguetteBox.run('.gallery');
</script>



<div class="gallery">
    
    {{ $images := .Page.Resources.ByType "image" }}
    {{ with $images.Match "set-1/*.*"  }}

        {{ range . }}
                
        <a href="{{ .RelPermalink }}" data-caption="{{ with .Exif }}{{ .Tags.ImageDescription }}{{ else }}No EXIF descripton for {{ .Name }}{{ end }}">
            <img src="{{ .RelPermalink }}" alt="First image">
        </a>
        {{ end }}
        
        {{ else }}
        <p><b>There are no images to display</b></p>
        {{ end }}
    </div>


<script>
    window.addEventListener('load', function() {
      baguetteBox.run('.gallery', {
        fullScreen: true,
        captions: false,
        overlayBackgroundColor: 'var(--bgc2)'
    });
    });
</script>

<style>
    .gallery {
        display: inline-block;
        columns: 170px 7;
        column-gap: 5px;
    }
    .gallery img {
        display: inline-block;
        width: 100%;
        margin: 0;
    }
</style>