{{/* This is a try of Kevin Powell tut on a pure CSS Lightbox */}}
<div class="css_target_wrapper">
    <div class="link_p">

        <p><a href="#item1" id="reset">click me 1</a></p>
        <p><a href="#item2">click me 2</a></p>
        <p><a href="#item3">click me 3</a></p>
        <p><a href="#item4">click me 4</a></p>
        <button><a href="#reset">RESET</a></button>
    </div>


    <div class="target_p">
        <p id="item1"><span>look at me</span></p>
        <p id="item2"><span>look at me</span></p>
        <p id="item3"><span>look at me</span></p>
        <p id="item4"><span>look at me</span></p>
    </div>
</div>

<style>
    .css_target_wrapper {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1em;
    }

    p:target {
        background-color: #eee;
    }
    p:target span {
        display: none;
    }

    p:target::after {
        content: '😁 whoah!'
    }
    button {
        padding: 8px 16px;
        font-size: 1.5em;
        border-radius: 25px;
        background-color: var(--bgc2);
    }
</style>