@font-face {
  font-family: futuri condensed bold;
  src: url(/fonts/FCBSWFTE.TTF);
}
@font-face {
  font-family: futura lt condensed bold;
  src: url(/fonts/FuturaLT-CondensedBold.ttf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --xr-font: 'futura lt condensed bold', 'futuri condensed bold', sans-serif;
  --header-bg: #ff7bac;
  --header-bg: #7b0202;
  --header-bg: #f761ca;
  --header-bg: #9d0505;
  --accent: rgb(2, 143, 198);
  --accent: #08baff;
  --accent-dark: #0991c6;
  --accent-darker: #0191a4;
  --accent-lightest: #daf1fb;
  --heading: blue;
  --nav-bg: #181818;
}
html {
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}
body {
  margin: 0;
  background-color: #ccc;
  background-image: url(/img/paper-texture-v5.jpg);
  background-image: url(/img/grunge-paper-10.jpg);
  background-image: url(/img/grungy-paper-13x-square-1920.jpg);
  background-size: 100%;
  background-attachment: fixed;
  font-family: segoe ui, sans-serif;
  font-size: clamp(0.88rem, calc(0.74rem + 0.53vw), 1.38rem);
}
.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}
header,
footer {
  position: relative;
  z-index: 10;
  background-color: var(--header-bg);
  mix-blend-mode: multiply;
}
header {
  padding: 3em 1em;
  position: relative;
  display: grid;
  place-content: center;
  color: var(--accent-lightest);
}
.wrapper main {
  padding: 3em 1em;
}
main,
.inner {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding: 0 1rem;
}
:is(.home, .page) .main--inner {
  padding: 4em 2em;
  background-color: #fff7;
}
p {
  line-height: 1.75;
}
header + nav {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--nav-bg);
  font-size: 1.5em;
  padding: 0.25em 0 !important;
  text-transform: uppercase;
}
header + nav .inner {
  display: flex;
  gap: 2em;
}
header + nav a {
  position: relative;
  width: min-content;
  padding: 0.15em;
  color: var(--accent-lightest);
  transition: 0.5s;
  mask: url(/img/mask-dirty-surface-05.png) luminance 100%;
}
header + nav a:hover {
  color: #fff;
}
header + nav a::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0.2em;
  background-color: var(--header-bg);
  transition: all 0.4s;
}
header + nav a:hover::before {
  width: 100%;
}
footer {
  border-top: 1em solid var(--nav-bg);
}
footer .inner {
  display: flex;
  gap: 3em;
  margin: 2em auto;
}
footer nav {
  display: flex;
  flex-direction: column;
}
.xr-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  font-family: futura lt condensed bold, sans-serif;
  letter-spacing: -0.025em;
  -webkit-mask: url(/img/mask-07.png) auto;
  mask-image: url(/img/mask-07.png);
  -webkit-mask-mode: luminance;
  mask-mode: luminance;
}
.circle,
.hourglass {
  stroke: var(--accent);
  stroke-width: 32;
  stroke-miterlimit: 2;
  stroke-dasharray: 1px;
  stroke-dashoffset: 1px;
  animation: draw-logo 4s ease-out 1.75s 1 both;
}
.hourglass {
  animation-duration: 10;
  animation-delay: 2.75s;
}
@keyframes draw-logo {
  25%,
  100% {
    stroke-dashoffset: 0;
  }
}
.header-title {
  opacity: 0;
  transform: scale(0.25);
  animation: fade-in 0.6s steps(3) 0.3s 1 forwards;
}
.sheffield {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 12em;
  font-size: clamp(5.63rem, calc(2.5rem + 12.5vw), 17.5rem);
  font-family: var(--xr-font);
  color: #1115;
  top: 50%;
  transform: translateY(-50%);
}
.rebellion {
  animation-delay: 0.9s;
}
.pure-paths {
  width: clamp(10rem, calc(8.03rem + 7.89vw), 17.5rem);
  height: clamp(10rem, calc(8.03rem + 7.89vw), 17.5rem);
}
@keyframes fade-in {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
a {
  text-decoration: none;
}
h1,
h2,
header + nav {
  font-family: var(--xr-font);
  line-height: 1;
  color: var(--accent-darker);
  mix-blend-mode: multiply;
}
h1 {
  margin: 0 0 0.25em;
  font-size: clamp(3.5rem, calc(2.97rem + 2.1vw), 5.5rem);
  text-transform: uppercase;
  mask-image: url(/img/mask-07.png);
  mask-mode: luminance;
}
h2 {
  margin: 1.5em 0 0.25em;
  font-size: 2.5em;
}
img {
  max-width: 100%;
}
@media screen and (max-width: 954px) {
  header + nav .inner {
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
  }
  .xr-logo {
    flex-direction: column;
    font-size: 2.8em;
  }
}
.list-page-list > ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
}
.news-item {
  padding: 1em;
  border: solid 1px #1117;
  background-color: #fff3;
  backdrop-filter: blur(3px);
}
.events-list {
  margin-left: 2em;
  float: right;
}
.events-list > ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  width: 300px;
  gap: 1em;
  mask: url(/img/mask-dirty-surface-03.jpg) luminance;
  font-size: 0.8em;
}
.events-list > ul > li {
  border: solid 1px;
  background-color: var(--accent);
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}
.events-list > ul > li > * {
  padding: 1rem;
}
.events-list > ul > li time {
  display: block;
  background: var(--nav-bg);
  color: var(--accent-lightest);
}
.events-list > ul > li h2 {
  margin: 0;
  font-size: 1.3em;
}
.contact-form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5em;
  max-width: 70ch;
}
input,
textarea {
  font-size: 1em;
}
label {
  text-align: right;
}
.submit {
  grid-column: 2/3;
}
button,
input[type='submit'] {
  border: none;
  background-color: var(--accent-dark);
  padding: 0.25em 0.75em;
  color: #fff;
}
button:hover,
input[type='submit']:hover {
  cursor: pointer;
}
