---
title: "My Sites"
date: 2021-08-31T09:24:04+01:00
draft: false
summary: a list of sites I made that are online currently
css:
- ".my-sites-list li {break-inside: avoid;}"
- ".my-sites-list li + li {margin-top: .7em}"
- ".my-sites-list {list-style-type: none; columns: 250px 5; padding: 0;}"
---


Some other web sites I've made, mostly just for conducting experiments on.

    <ul class="my-sites-list">
        <li><A HREF="https://www.christmasfist.cf/">A Christmas Message</A></li>
        <li><A HREF="https://www.birthdaymeal.tk/">Birthday Meal™</A></li>
        <li><A HREF="https://blank-try.netlify.app/">Blank Try</A></li>
        <li><A HREF="https://bongus.netlify.app/">BONGUS | Kaldi</A></li>
        <li><A HREF="https://www.cuntfuckers.cf/">Cntfckrs</A></li>
        <li><A HREF="https://cssgeek.netlify.app/">CSS Geek</A></li>
        <li><a href="https://cssrevolution.netlify.app">CSS Revolution</A></li>
        <li><A HREF="https://www.cutefoxes.cf/" >Cute Foxes</A></li>
        <li><A HREF="https://www.ecosnout.tk/" >Ecosnout Film Studios</A></li>
        <li><A HREF="https://xixianykus.gitlab.io/empty/"   >Empty Web site</A></li>
        <li><A HREF="https://www.garfish.ga/" >Garfish | low cost web design</A></li>
        <li><A HREF="https://js-blog.pages.dev/">JS Blog</A></li>
        <li><A HREF="https://sportsclimbs.github.io/js-notes/" >JS Notes</A></li>
        <li><A HREF="https://learnflexbox.netlify.app/" >Learn Flexbox</A></li>
        <li><A HREF="https://learnhugo.ml/">Learn Hugo</A></li>
        <li><A HREF="https://mariannakeen.netlify.app/"   >Marianna Keen</A></li>
        <li><A HREF="https://www.morelearning.ml/">More Learning</A></li>
        <li><A HREF="https://www.moonlandings.ml/">NASA fakes Moon Landings</A></li>
        <li><A HREF="https://peaceful-montalcini-74db69.netlify.app/">Peaceful Montalcini - 1 click</A></li>
        <li><A HREF="https://sportclimbs.netlify.app/">Sport Climbs Hugo Test 1</A></li>
        <li><A HREF="https://www.steveandfran.tk/">Steve and Fran Radio Show</A></li>
        <li><A HREF="https://the-periodic-table.netlify.app/">The Periodic Table</A></li>
    </ul>