{{ define "main" }}
<main>
    <article class="single-page">
        <h1>{{ .Title }}</h1>
        <div class="time">
            <time>{{ .Date.Format "2 Jan 2006" }}</time>
            <div>Updated on <time>{{ .Lastmod.Format "2 Jan 2006" }}</time></div>
        </div>

        <div class="content">
            {{ with .Resources.GetMatch "about.md" }}
            <div class="about_roadmap">
                {{ .Content }}
            </div>
            {{ end }}

            {{ .Content }}

            <h2>Page Resources....</h2>

            <p>This is the list of files (<em>resources</em>) that go with this page:</p>
            
            <ul>
            {{ range .Resources }}
                <li>{{ .Name }}</li>
            {{ end }}
            </ul>

            <ul>
                {{ range .Resources.ByType "image" }}
                <li><a href="{{ .Permalink }}">{{ . }}</a></li>
                {{ end }}
            </ul>

            <h2>Showing an image</h2>
            <div>
                {{ with .Resources.GetMatch "*.webp" }}
                <img src="{{ . }}" alt="">
                {{ end }}
            </div>

            {{ $about := .Resources.Match "page" }}

            {{ with $about }}
            {{ .Title }}
            {{ .Content }}
            {{ end }}


        </div>


    </article>
    <div class="back-to-top-wrapper">
        <a href="#top" class="back-to-top-link" aria-label="Scroll to Top">▲</a>
    </div>
</main>
{{ partial "sidebar.html" . }}
{{ end }}