<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

{{ partial "head" . }}

<body class="
	{{- if .File }}{{ if ne .File.ContentBaseName "_index" }}{{ .File.ContentBaseName | lower }}{{ else }}{{ replace .Name " " "-" | lower }}{{ end }}{{ end -}} 
	{{- with .Section }} {{ . }}{{ end -}}">

{{ partial "side-nav" . }}
	  
<div class="container">
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "extlinks" . }}
	{{ partial "test-panel" . }}
	{{ partial "footer" . }}
</div>
<script src="/js/nav.js"></script>
{{ partial "consent" . }}
</body>
</html>
