
{{ define "main" }}
	<main class="list-page">

		{{ if or .Title .Content }}
		<div class="list-content">
			{{ with .Title }}<h1>{{ . }}</h1>{{ end }}
			{{ if .Content }}
			{{ if .Params.toc }}
			<div class="table-of-contents">
				<h2>On this page:</h2>
				{{ .TableOfContents }}
			</div>
			{{ end }}
			<div>{{ .Content }}</div>
			{{ end }}
		</div>
		{{ end }}

		{{ range .Paginator.Pages }}
			{{ .Render "summary" }}
		{{ end }}
		{{ partial "pagination.html" . }}
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
