{{ define "main" }}
	<main>
		<article class="single-page">
			<h1>{{ .Title }}</h1>
			<div class="breadcrumbs">
				{{ partial "breadcrumbs" . }}
			</div>
			<div class="time">
				{{ $created := .Date.Format "2 Jan 2006" }}
				{{ $updated := .Lastmod.Format "2 Jan 2006" }}
				<time>{{ with .Parent }}Posted in <i><a href="{{ .RelPermalink }}">{{ .Name | title }}</a></i> on {{ end }}{{ .Date.Format "2 Jan 2006" }}</time>
				{{ if ne $created $updated }}
				<div>Updated on <time>{{ .Lastmod.Format "2 Jan 2006" }}</time></div>
				{{ end }}
				<div class="lastchange">Last site update: {{ site.LastChange.Format "2 Jan 2006" }}</div>
			</div>
			
			<div class="content">
				{{ partial "tagged-with" . }}
			{{ if .Params.toc }}
			<div class="table-of-contents">
				<h2>Table of Contents</h2>
				{{ .TableOfContents }}
			</div>
			{{ end }}
			{{ with .Params.unfinished }}<h2 class="unfinished"><a href="/head-2/">Unfinished article</a></h2>{{ end }}

				{{ .Content }}

				{{ if or (eq .Title "Baguette Image Gallery") (eq .Params.unfinished true ) (eq .Params.draft true) }}
					{{ partial "ex/baguette" . }}
				{{ end }}
				{{ if eq .Page.Title "Draft" }}
				<h3>From single.html</h3>
				<ul>  
					{{ range where site.Pages "Params.draft" "true" }}
					<li>{{ .Title }}</li>
				 {{ end }}
				</ul>
				{{ end }}
				
				{{ partial "prev-next" . }}
			</div>
			
			{{ with .Params.tags }}
			<div id="tags">
				<ul>
					<li><a href="/tags/">Tagged</a> in:</li>
					{{ range . }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</div>
			{{ end }}
			
			{{ if .Params.photoswipe }}
				{{ partial "photoswipe" . }}
			{{ end }}
		</article>
		<div class="back-to-top-wrapper">
			<a href="#top" class="back-to-top-link" aria-label="Scroll to Top">▲</a>
		</div>
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
