
<article>
	<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
	<div class="time-tags">
		<time>{{ .Date.Format "2 Jan, 06" }}</time>
		{{ range .Params.tags }}
		<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
		{{ end }}
	</div>
	<div>
		{{ .Summary }}
		{{ if .Truncated }}
			<a href="{{ .Permalink }}">Read more...</a>
		{{ end }}
	</div>
</article>
