{{ define "main" }}

<main class="list-page">

    {{ if or .Title .Content }}
    <div>
        {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
        {{ with .Content }}<div>{{ . }}</div>{{ end }}
    </div>
    {{ end }}


<ul class="tags-list">
    {{ range .Pages.ByTitle }}
        <li><a href="{{ .RelPermalink }}" {{ with .Summary }}title="{{ . }}"{{ end }}>{{ .LinkTitle }}</a></li>
    {{ end }}
</ul>

<p class="categories">See also the <a href="/categories/">categories section</a></p>

</main>
{{ partial "sidebar.html" . }}    
{{ end }}