  <ul>
    {{- range .Ancestors.Reverse }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>&gt;</li>
    {{- end }}
    <li class="active" aria-current="page">
      <a href="#">{{ .LinkTitle }}</a>
    </li>
  </ul>