
{{ with .Params.extlinks }}
<div class="external-links">
    
    <h3>External links</h3>
    <ul>
        
            {{ range . }}
                <li><a href="{{ index . 0 }}" title="{{ index . 2 }}">{{ index . 1 }}</a></li>
            {{ end }}
    </ul>
    </div>
    {{ else }}
    <div class="no-external-links"></div>
{{ end }}