<footer>
	<div><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>&copy; {{ now.Year }} w {{ len site.RegularPages }} pages
	</div>
	<div class="links">

		<a href="/docs/"><svg class="icon icon-docs"><use xlink:href="#icon-docs"></use></svg>Docs</a>
		<a href="/dump/">Dump</a>
		<a href="/tags/">Tags</a>
		<a href="/privacy/">Privacy</a>
	</div>
	<div class="hugo-logo"><a href="https://gohugo.io/" title="Official Hugo website">{{ partial "hugo-logo" . }}</a>
		v.{{hugo.Version}}</div>
	<div class="netlify">

		<a href="https://www.netlify.com">
			<img src="https://www.netlify.com/img/global/badges/netlify-color-bg.svg" alt="Deploys by Netlify" />
		</a></div>
	<div class="rss2">
		<a href="{{ .Site.BaseURL }}index.xml" title="RSS feed">
			<div>{{ partial "rss_icon" . }}</div>
			 <div>RSS</div>
		</a>
	</div>
	<div class="hugo-variables">
		<div class="desktop">Section: {{ .Section }}</div>
		<div class="desktop">Type: {{ .Type }}</div>
		<div class="desktop">Kind: {{ .Kind }}</div>
		<div class="desktop">Layout: {{ .Layout }}</div>
	</div>
</footer>