
<head>
	{{ hugo.Generator }}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{{- with .Summary }}
	<meta name="description" content="{{ . }}">
	{{ end -}}
	<title>
		{{- if .IsHome }}
		{{- .Site.Title -}}
			{{ else }}
			{{- .Title }} | {{ .Site.Title -}}
			{{ end -}}
	</title>

	{{ with .Params.leafletjs }}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
	integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
	crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
	integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
	crossorigin=""></script>
	{{ end }}

    {{- with .Params.chartistjs }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    {{ end }}

    {{- with .Params.chartjs }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js" integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg==" crossorigin="anonymous"></script>
    {{ end -}}

    {{- with .Params.photoswipe }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/default-skin/default-skin.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe-ui-default.js"></script>
    {{ end -}}

	{{ with .Params.baguette }}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.css" integrity="sha512-3eoKq7cU6gdVeT+6eL40YcJLD8dxzQmOK54qxUWVjg7H4NN3u5AA5k5ywrqLV15hOZDBBgdQH/GK5CA9MwDVwg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.js" integrity="sha512-FbW9TrdqAZVgIOrQeqDRnCe+l0g+aMBP7pWEt/zLWx8zgafpBwvJ6F1rsU+mkvbXuB4mBwS2ehlkZHE9cknTrg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>		
	{{ end }}
	
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<script src="https://file.myfontastic.com/dtAxtQpBmRgHDcNqXAT4Fc/icons.js"></script>
	<link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%23f8d8dd%22></rect><path fill=%22%231f6792%22 d=%22M31.74 84.87L31.74 84.87Q26.28 84.87 21.64 82.03Q17.00 79.19 14.16 74.27Q11.32 69.34 11.32 63.18L11.32 63.18Q11.32 63.00 11.32 62.85Q11.32 62.69 11.32 62.56L11.32 62.56L17.04 62.43Q17.04 62.52 17.04 62.65Q17.04 62.78 17.04 62.87L17.04 62.87Q17.04 66.30 18.76 68.96Q20.48 71.63 23.23 73.14Q25.98 74.66 29.10 74.66L29.10 74.66Q34.16 74.66 37.72 71.19Q41.29 67.71 41.29 60.41L41.29 60.41Q41.29 53.06 37.75 49.65Q34.20 46.24 29.10 46.24L29.10 46.24Q26.02 46.24 23.27 47.71Q20.52 49.19 18.78 51.78Q17.04 54.38 17.04 57.85L17.04 57.85L11.32 57.59Q11.32 51.39 14.16 46.59Q17.00 41.79 21.64 39.09Q26.28 36.38 31.74 36.38L31.74 36.38Q37.42 36.38 42.32 39.18Q47.23 41.97 50.24 47.32Q53.26 52.66 53.26 60.41L53.26 60.41Q53.26 68.37 50.31 73.83Q47.36 79.28 42.48 82.08Q37.59 84.87 31.74 84.87ZM17.04 83.90L5.43 83.90L5.43 15.13L17.04 15.13L17.04 83.90ZM83.70 84.78L83.70 84.78Q81.20 84.78 78.60 84.30Q76.00 83.81 73.85 82.49Q71.69 81.17 70.37 78.62Q69.05 76.07 69.05 71.89L69.05 71.89Q69.05 70.92 69.05 69.93Q69.05 68.94 69.05 67.89L69.05 67.89L69.05 46.41L58.01 46.41L58.01 37.17L62.50 37.17Q64.78 37.17 66.10 36.98Q67.42 36.78 68.04 36.03Q68.66 35.28 68.85 33.68Q69.05 32.07 69.05 29.21L69.05 29.21L69.05 21.77L80.67 21.77L80.67 37.17L94.57 37.17L94.57 46.41L80.67 46.41L80.67 65.16Q80.67 65.99 80.67 66.81Q80.67 67.62 80.67 68.37L80.67 68.37Q80.67 71.63 81.46 73.61Q82.25 75.59 85.20 75.59L85.20 75.59Q86.61 75.59 87.86 75.32Q89.12 75.06 89.73 74.79L89.73 74.79L89.73 83.86Q88.90 84.17 87.31 84.47Q85.73 84.78 83.70 84.78Z%22></path></svg>" />
	<link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,300;0,600;1,300&family=Roboto+Mono:wght@400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">

	{{ with .Params.mermaid }}
	<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
	<script>
        mermaid.initialize({ startOnLoad: true });
		window.onload = function() {
			mermaid.init(undefined, ".language-mermaid");
		};
    </script>
	{{ end }}

	<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>

	{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	{{ with .Params.css }}
		<style>
			{{ range . }}
				{{ . | safeCSS }}
			{{ end }}
		</style>
	{{ end }}
	{{ with .Params.style }}
		<style>
		{{ . | safeCSS }}
		</style>
	{{ end }}
</head>