<header id="top">
	<div class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
		{{ with .Params.draft -}}draft{{ end -}}
		<div class="subtitle">
			{{- range .Site.Params.subtitle }}
			<div>{{ . }}</div>
			{{- end -}}
		</div>
	</div>

	{{ with .Site.Menus.main }}
	<nav>
		<ul class="main-menu">
			{{- range . }}
			<li><a href="{{ .URL | relURL }}">{{ .Pre }}{{ .Name }}</a></li>
			{{ end -}}
			<li class="hamburger">
				<a href="javascript:void(0);" onClick="openNav()" class="icon">
					<div onclick="hamburger(this)">
						<div class="bar1"></div>
						<div class="bar2"></div>
						<div class="bar3"></div>
					</div>
				</a>
			</li>
		</ul>
	</nav>
	{{- end -}}
</header>



<style>
	/* Trying to create a dropdown */
	.main-menu>li {
		position: relative;
	}

	li>.dropdown {
		position: absolute;
		z-index: 2;
		display: none;
		list-style-type: none;
		padding: 0;
	}

	li:hover .dropdown {
		display: block;
	}

	/* hover effect on main-menu */

	.main-menu a {
		transition: .5s;
		isolation: isolate;
	}

	.main-menu a::before {
		content: '';
		display: block;
		height: 6px;
		background-color: #ffffff55;

		opacity: 0;
		transform-origin: center;
		transform: scaleX(0) translateY(10px);
		transition: .3s ease-in-out;
		z-index: -1;
	}

	.main-menu a:hover::before {
		transform: scaleX(1.2) translateY(35px);
		opacity: 1;
	}
</style>