<ul class="prev-next">
    {{with .CurrentSection.RegularPages.Prev . }}
    <li><a href="{{ .RelPermalink }}" title="Previous page">&#9664; Previous</a></li>
    {{end}}
    {{with .CurrentSection.RegularPages.Next . }}
    <li><a href="{{ .RelPermalink }}" title="Next page">Next &#9654;</a></li>
    {{end}}
</ul>