
{{/* This is for the responsive navigation  */}}

	<div id="mySidenav" class="side-nav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        {{ range site.Menus.main }}
            <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
    </div>