<aside>
		
		
	<div>
		{{ if or  (eq .Section "") (eq .Section "tags") }}
		<h2>Latest</h2>
		<ul>
			{{- range first 12 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) -}}
			<li><a href="{{ .RelPermalink }}" title="{{ .Summary }}">{{ .LinkTitle }}<small> ({{ .Date.Format "2 Jan 06" }})</small></a> </li>
			{{ end }}
		</ul>
		{{ else }}
			
			{{ $currentPage := . }}
		<h2>New in {{ .Section | title }}</h2>
		<ul>
				{{- range first 15 (where .Site.RegularPages "Type" "in" .Section) -}}
				<li>
					{{ if eq $currentPage . }}
					<a href="#">{{ .LinkTitle }}<small> ({{ .Date.Format "2 Jan 06" }})</small></a>
					{{ else }}
					<a href="{{ .RelPermalink }}" title="{{ .Summary }}">{{ .LinkTitle }}<small> ({{ .Date.Format "2 Jan 06" }})</small></a>
					{{ end }}
				</li>
				{{ end }}
		</ul>
		{{ end }}
		</ul>
	</div>

</aside>
