

{{ with .Params.tags }}
    
<ul class="tags-list"><a href="/tags/" title="Full list of tags">Tagged</a> in: 
    {{ range . }}
    <li><a href="/tags/{{ replace . " " "-" }}/">{{ . }}</a></li>
    {{ end }}
</ul>
{{ end }}