{{ if .Params.testpanel }}
    
<div class="test-panel">
    <div class="test1">
    {{ range .Data.Terms.ByCount }}
        <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})
      {{ end }}
        
    </div>



    <div class="test2">
        <h3>External links - <code>extlinks</code></h3>
        {{ with .Params.extlinks }}
            {{ range . }}
                <li>{{ index . 0 }} | {{ index . 1 }}</li>
            {{ end }}
        {{ end }}

        <p>Below uses a double range function, one for the initial array and one for the sub array.</p>
<hr>
        {{ with .Params.extlinks }}
        <ul>
            {{ range . }}
                {{ range . }}
                <li>{{ index . 0 }} / {{ index . 1}}</li>
                {{ end }}
            {{ end }}
        </ul>
        {{ end }}
    </div>



    <div class="test3">
        {{ with .Params.extlinks }}
        <ul>
            {{ range . }}<li>
                {{ with (index . 0) }}
                <a href="{{ . }}">
                {{ end }}
                {{ with (index . 1) }}
                {{ . }}</a>
                {{ end }}</li>
            {{ end }}
        </ul>
        {{ end }}
            

        <p>Works!! The code is <a href="/code/external-links/">here</a>.</p>

    </div>
    <div class="test4">
        {{ with .Params.extlinks }}
        <ul>
            {{ range . }}
            <li>
                <a href="{{ index . 0 }}">{{ index . 1 }}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</div>
{{ end }}
