{{ define "main" }}
	<main>
		<h1>{{ .Site.Title }}</h1>
		<div class="time">
			<div>Site updated: <time>{{ now.Format "2 January 2006" }}</time></div>
		</div>
		{{ .Content }}
		

	</main>
{{ partial "sidebar.html" . }}
{{ end }}
