{{/* This is from: https://viewbox.club/tips/03.SVG_Stroke_Animations.html */}}

<div class="heartcontainer">

    <svg viewBox="0 0 100 100">
        <style>
            .heartcontainer {
            width: min(100%, 350px);
        }
            .animated-heart {
                fill: none;
                stroke: red;
                stroke-width: 2px;
                stroke-linecap: round;
                stroke-dasharray: 1px;
                stroke-dashoffset: 1px;
                animation: drawHeart 5s ease-out infinite;
            }
            @keyframes drawHeart {
                90%, 100% {
                    stroke-dashoffset: 0px;
                }	
            }
        </style>
        <path class="animated-heart" pathLength="1" d="M49.998,90.544c0,0,0,0,0.002,0c5.304-14.531,32.88-27.047,41.474-44.23C108.081,13.092,61.244-5.023,50,23.933  C38.753-5.023-8.083,13.092,8.525,46.313C17.116,63.497,44.691,76.013,49.998,90.544z" />
    </svg>
</div>
