---
title: "Peruvian Necktie"
date: 2021-05-30T13:45:11+01:00
draft: false
summary: Article about James Litz's 2013 route, Peruvian Necktie, recently upgraded to 9b by second ascentionist Jonathon Siegrist
tags: [climbing]
---

{{< music/yt "L3xHu8c0kPc" >}}

<h2>Older article from Rock & Ice</h2>

<p><strong>Since 2007,</strong> when Chris Sharma suggested 5.15b for <a href="https://rockandice.com/climbing-news/jonathan-siegrist-goes-big-third-ascent-jumbo-love-5-15b/" target="_blank" rel="noopener"><em>Jumbo Love</em></a>, at Clark Mountain, California, no other climber has floated the grade for one of his or her routes in the United States. Now Daniel Woods says that perhaps James Litz should have; Woods thinks that <em>Peruvian Necktie</em>, which Litz established in the Pop Tire Cave, Utah, in 2013, is deserving.</p>
<p>While Woods didn’t successfully repeat <em>Peruvian Necktie</em> on a quick trip to the Pop Tire Cave last week, he did get the second ascent of another Litz line, <em>Ace of Spades</em>, an alternate exit to <em>Necktie </em>established the year before that latter climb, in 2012.</p>

<p>Woods wrote on <a href="https://www.instagram.com/p/BpM22lWFlsg/?hl=en&amp;taken-by=dawoods89" target="_blank" rel="noopener">Instagram</a>, “Both these lines immediately caught my eye. After a couple days of work I repeated Ace of [Spades] (fell twice at the v4 crux near the anchor haha due to 0 endurance) then began to try Peruvian Necktie. I ended up falling near the end of the final boulder a couple times. Breakdown of Ace is intro 10 move v12/13 bloc, ok rest, 5 move v10, bad rest, 8 move v10 to 13a outro. I felt this line could be more 15a than 14d. Peruvian is same first two boulders but finishes with a final v11/12 to 13b. this thing felt more 15b.”</p>
<p>Litz told <em>Rock and Ice</em> in a phone call this morning, “I was kind of waiting for someone like Daniel to come along and suggest a grade. He’s more qualified to say than I am. <em>Ace of Spades</em> didn’t feel that hard when I did it. It still does a lot of <em>Peruvian Necktie’s</em> hardest climbing, but probably cuts out one of the double-digit boulder problems and eliminates all the 5.13 climbing.”</p>
<p>He continues, “I thought it was possible that <em>Peruvian Necktie</em> would be in the 5.15 range, but figured I’d let someone else decide that.”</p>
<p>While the provisional upgrade of <em>Peruvian Necktie</em> won’t be gospel until someone actually bags the second ascent, Woods’ opinion should carry quite a bit of weight: He is one of just a handful of Americans to have climbed 5.15b—<a href="https://rockandice.com/climbing-news/daniel-woods-sends-la-capella-his-first-9b-5-15b/" target="_blank" rel="noopener">he made the third ascent of Adam Ondra’s <em>La Capella</em>,</a> in Siurana, Spain,<a href="https://rockandice.com/videos/climbing/perspective-daniel-woods-sends-la-capella-5-15b/" target="_blank" rel="noopener"> in February</a>—and has established more V15s and V16s than anyone in the world aside from Dai Koyamada.</p>
<p>Jonathan Siegrist, <a href="https://rockandice.com/climbing-news/jonathan-siegrist-goes-big-third-ascent-jumbo-love-5-15b/" target="_blank" rel="noopener">one of the others in that handful of Americans to send 5.15b,</a> has also offered thoughts on <em>Peruvian Necktie.<a href="http://www.jstarinorbit.com/2017/10/its-been-busy-summer-freaking-rad.html"> </a></em><a href="http://www.jstarinorbit.com/2017/10/its-been-busy-summer-freaking-rad.html">In a blog post about his summer 2017 climbing escapades, Siegrist wrote,</a> “I spent two days trying James [Litz&#8217;s] &#8216;Peruvian Necktie&#8217; 14d/15a. It did not entirely capture my stoke, with uncomfortable holds and awkward movement, but I must say a huge congrats to James on the send &#8211; it is certainly one of the hardest routes in the country.”</p>
<p><strong>***</strong></p>
<p><strong>An unreported climb of this level</strong> is pretty big news, so you might be asking, “Um, who is this guy James Litz?” Answer: Only the most notorious dark-horse-undercover-crusher in America.</p>
<p>Over the past decade-and-a-half, Litz has quietly established some of the country’s most whispered-about testpieces, all with a minimal amount of spray. Search his name on the interwebs, and the limited number of articles and reports you’ll find about him invariably include words like “enigmatic” and “unknown.”</p>
<p>In <em>Rock and Ice </em>issue 142 (June 2005), a short blurb notes that Litz “makes incredibly fast repeats (such as Dave Graham’s V14 <em>Nothing But Sunshine</em>, at Rocky Mountain National Park), doesn’t say a word and then disappears. Who is this silent Southerner credited with ‘the world’s strongest fingers,’ and just how hard can he crank?”</p>
<p>Litz has pioneered classics all over the States, such as <a href="https://rockandice.com/climbing-news/angie-payne-gets-freaky-with-her-second-v13/" target="_blank" rel="noopener"><em>Freaks of the Industry</em></a>, a V13 in Rocky Mountain National Park. (<em>Freaks</em> was actually downgraded from Litz&#8217;s original suggestion of V14 by Woods and Graham.)</p>
<p>In November 2007, he opened <a href="https://rockandice.com/videos/climbing/a-fine-line-daniel-woods-climbs-warpath-v14/" target="_blank" rel="noopener"><em>Warpath</em></a> (V14), a 30-move problem of relentless double-digit difficulty in Castle Rocks, Idaho. Litz declined to grade the boulder at the time, but consensus among subsequent ascentionists—including <a href="https://rockandice.com/videos/climbing/a-fine-line-daniel-woods-climbs-warpath-v14/" target="_blank" rel="noopener">Daniel Woods</a>, Matt Fultz,<a href="https://rockandice.com/videos/climbing/paul-robinson-making-the-4th-ascent-of-idahos-warpath-v14/" target="_blank" rel="noopener"> Paul Robinson</a> and <a href="https://rockandice.com/videos/climbing/jimmy-webb-climbing-james-litzs-warpath-v14/" target="_blank" rel="noopener">Jimmy Webb</a>—puts it at solid V14.</p>
<p>Litz has always been a force tied into a rope as well. Two years later in 2009, in a single summer Litz climbed seven new 5.14s in Wyoming.</p>
<p>Beyond the breadcrumb trail of difficult climbs that he leaves for climbers like Daniel Woods and Jonathan Siegrist against which to test their mettle, Litz’s footprint in the climbing media is small, augmenting his aura of mystery.</p>
<p>But the phone interview with him this morning confirmed that he’s a normal guy&#8212;he just doesn&#8217;t seek the limelight. He has a sick two-year-old kid at home this particular morning and so fitting a chat into the chaos that inevitably entails was a challenge.</p>
<p>He hasn’t sought out lots of attention for most of his big sends in the past, and with <em>Peruvian Necktie</em> and <em>Ace of Spades</em>, keeping the routes on the down-low was an intentional, calculated decision. “Pop Tire Cave doesn’t take traffic very well,” Litz says. “You can still see the four-wheeler tracks that people took up to look at the cave over a decade ago. So we figured we’d let the word get out organically, instead of putting info about it out there and having 100 people suddenly show up at this tiny cliff overnight.”</p>
<p>“Cat’s kind of out of the bag now, though,” he concedes.</p>
<p>Asked if he’s working on any more next-level routes at the moment, he demurs. Having a kid is definitely a time-constraint—though not a bad one!—and he’s doing a lot more mountain biking these days.</p>
<p>That being said, with Litz’s reputation of playing it close to the vest and staying mum even after he sends, it wouldn’t be surprising if in a few years we hear about some unfathomably difficult route that he put up way back in the autumn of 2018&#8230;</p>