---
title: "Details"
date: 2020-08-26T19:10:39+01:00
draft: false
summary: Rarely used HTML like details, summary, mark, contenteditable, and datalist.
tags: [HTML]
---

<style>
    details {
        background-color: #eee;
        color: rgb(0, 89, 255);
        border-radius: 15px;
        margin: 1em 0;
        padding: 0.5rem;
    }

    details>summary {
        font-weight: bold;
        background-color: #fff;
        /*  display: inline-block;  */
        padding: 0 .4rem;
        border-bottom: 1px solid #ccc;
    }
    details>summary:hover {
    cursor: pointer
    ;}
</style>

<details>
    <summary>These are the details</summary>
    <p>This has some minimum styles added to it but are not necessary for the drop down bit.</p>

    <p>This is worth doing though:</p>
<pre><code>details>summary:hover {
cursor: pointer;
}</code></pre>
    <p>Odio nesciunt nostrum numquam eum sapiente inventore rem magni nam exercitationem. Magni!</p>
</details>

This uses no JS or CSS...

{{< highlight "html">}}
<details>
    <summary>These are the details</summary>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ducimus expedita quidem!</p>
    <p>Odio nesciunt nostrum numquam eum sapiente inventore rem magni nam exercitationem. Magni!</p>
</details>
{{< /highlight >}}

<h2>Content Editable</h2>

<p contenteditable="true">You can edit this paragraph by clicking on it. If it's set on a parent then the child element
    will inherit it.</p>

{{< highlight "html" >}}
<p contenteditable="true">Lorem ipsum</p>
{{< / highlight >}}

You can <mark>highlight</mark> text with the <code>&lt;mark&gt;</code> element.

<h2>datalist</h2>

<form action="" method="GET">
    <label for="theropod">Choose your fave theropod or add you own.</label>
    <input list="theropod" name="theropods" id="theropods">
    <datalist id="theropod">
        <option value="achillobator">
        <option value="baryonyx">
        <option value="ceratosaurus">
        <option value="coelophysis">
        <option value="deinonychus">
        <option value="epidexipteryx">
        <option value="falcarius">
        <option value="kileskus">
        <option value="labocania">
        <option value="lythronax">
        <option value="mahakala">
        <option value="nankangia">
        <option value="ornitholestes">
        <option value="protoavis">
        <option value="quipanykus">
        <option value="rativates">
        <option value="saurophaganax">
        <option value="tawa">
        <option value="troodon">
        <option value="t-rex">
        <option value="velociraptor">
        <option value="utahraptor">
        <option value="xiotingia">
        <option value="xixianykus">
        <option value="zanabazar">
    </datalist>
    <input type="submit">
</form>


<details>
    <summary>Check the code for this:</summary>
    {{< highlight "html" >}}
<form action="" method="GET">
    <label for="theropod">Choose your fave theropod or add you own. (Try starting with a 't' an 'x', a 'c' or a
        'd'.)</label>
    <input list="theropod" name="theropods" id="theropods">
    <datalist id="theropod">
        <option value="t-rex">
        <option value="xixianykus">
        <option value="deinonychus">
        <option value="coelophysis">
        <option value="ceratosaurus">
    </datalist>
    <input type="submit">
</form>
    {{< /highlight >}}
</details>
