---
title: "HTML File"
date: 2021-05-17T04:44:42+01:00
draft: true
summary: A basic HTML file to tryout some HTML shortcodes.
---

This is an HTML file.

<h1>{{ site.Title }}</h1>

Idea is to use for trying out shortcodes. But do shortcodes work in HTML files? Below suggests that they don't, though the svg worked.

<h2>Here is HTML</h2>

<P>AND some shortcodes:</P>
<hr>
<p>gitlab_snip: {{< gitlab_snip >}}</p>
<hr>
<p>{{ partial "footer" . }}</p>
<hr>
<br> charts/firstchart: {{< charts/firstchart >}} <br>
<hr>
svg/hugo/logo: {{< svg/hugo-logo >}}<br>
<hr>
partial, test-panel: {{ partial "test-panel" . }}