{{/* This is for using multiple galleries on on page.  */}}

<script>
    baguetteBox.run('.{{ .Get 0 }}');
</script>

{{ $folder := .Get 0 }}
{{ $folderURL := add $folder "/*.*" }}

<div class="gallery {{ .Get 0 }}">
    
    {{ $images := .Page.Resources.ByType "image"  }}
    {{ with $images.Match $folderURL }}
        {{ range . }}
                
        <a href="{{ .RelPermalink }}" data-caption="{{ with .Exif }}{{ .Tags.ImageDescription }}{{ else }}No EXIF descripton for {{ .Name }}{{ end }}">
            <img src="{{ .RelPermalink }}" alt="First image" style="width: 230px;">
        </a>
        {{ end }}

        {{ else }}
        <p><b>There are no images to display from the {{ $folder }} folder</b></p>

        <p>{{ $folderURL }}</p>
    {{ end }}

</div>

<script>
    window.addEventListener('load', function() {
      baguetteBox.run('.{{ .Get 0 }}', {
          fullScreen: false,
          captions: false,
          overlayBackgroundColor: 'var(--bgc2)'
      });
    });
</script>