
{{ $altText := .Get "alt"}}
{{ $caption := .Get "caption"}}

{{ with $.Page.Resources.GetMatch (.Get "name") }}

  <figure>
    <a href="{{.RelPermalink}}">
      <img
        srcset="
          {{ (.Fill "400x300 top right").RelPermalink }} 450w,
          {{ (.Fill "450x344 top right q40").RelPermalink }} 500w,
          {{ (.Resize "1000x").RelPermalink }} 2x"
        src="{{ (.Resize "600x").RelPermalink }}" alt="{{$altText}}"/>
    </a>
    <figcaption>{{ $caption }}</figcaption>
  </figure>
{{ else }}
  {{ errorf "could not find image" }}
{{ end }}