
<script>
    new ClipboardJS('.btn');
</script>

<input id="foo" type="text" value="https://github.com/zenorocha/clipboard.js.git">

<!-- Trigger -->
<button class="btn" data-clipboard-target="#foo">
    <img src="/img/clippy.svg" alt="Copy to clipboard">
</button>


