{{ $filename := .Get 0 }}
{{ $siteData := site.Data.lists }}
{{ $path := print $siteData "." $filename }}
<h3>{{ $filename }}</h3>
<p style="background: #333;">{{ index $path 1 }}</p>

<hr>

<p><code>$siteData</code> Is slice? {{ reflect.IsSlice $siteData }}</p>
<p><code>$siteData</code> Is map? {{ reflect.IsMap $siteData }}</p>

{{ range $key, $val := $siteData }}
    <h2>{{ $key }}</h2>
    {{ range $val }}
    <p><a href="{{ .url }}" style="font-weight: bold;">{{ .co | title }}</a><br>
    {{ with .about }}
        {{ . | markdownify }}
    {{ end }}
    </p>
        
    {{ end }}
{{ end }}





{{/*  <ul>
    {{ range $key, $val := site.Data.lists }}
        {{ range $k, $v := $val }}
        <h4>{{ $k }}/{{ $v }}<br> and {{ $key }}: {{ $val }}</h4>
        <ul>
            {{ range . }}
            <li>{{ . }}</li>
        </ul>
                
            {{ end }}
        {{ end }}
    {{ end }}
</ul>
      */}}