
<section class="draftlist">

<h2>Pages that are still drafts</h2>



<ol>
{{ range site.RegularPages }}
    {{ if .Params.draft }}
        <li><a href="{{ .Permalink }}">{{ .Page.Title }}</a> {{ .Lastmod.Format "06 Jan 06" }}</li>
    {{ end }}
    {{ end }}
</ol>    

<hr>


{{$srp := .Site.RegularPages }}
<div class="cols">
{{ range first 12 $srp }}
    <div><a href="{{ .Permalink }}">{{.Title }}</a></div>
{{ end }}
</div>
{{ len $srp }}

<hr>
{{ $posts := (where .Site.RegularPages ".Params.Draft" "==" "true") }}
{{ $postCount := len $posts }}

{{ with .Page.Params.draft }}
    {{ . }}
{{ end }}


<hr>
<code>range where site.Pages "draft" "true"</code>
{{/*  {{ with .Page.Params.draft }}  */}}
<ul>  
    {{ range where site.Pages "draft" "true" }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
</ul>
{{/*  {{ end }}  */}}
<hr>
</section>




<style>
    .draftlist {
        background-color: #00000044;
        padding: 1em;
        border-radius: 40px;
        width: max(40%, 400px);
        font-size: 80%;
        float: right;
    }
    .draftlist :first-child {
        margin-top: 20px;
    }
    .cols {
        column-count: 2;
    }
</style>