

        <button onclick="gallery.init()">Open gallery</button>

        <div class="images">
            {{- range .Page.Resources.ByType "image" }}
            <figure>
                <img src="{{ .Permalink }}" alt="{{ replace .Name "-" " " }}" onclick="gallery.init()">
                <figcaption>{{ replace .Name "-" " " }}</figcaption>
            </figure>
            {{ end -}}
        </div>