

{{ $two := add .Page.Params.goat .Page.Params.shark }}

{{ print $two }}





<hr>

{{ $fsh := .Page.Params.fish }}
{{ $fna := .Page.Params.fauna }}
{{ $both := union $fsh $fna }}
{{ $inter := intersect $fsh $fna }}

<p>
    Using union with sort:
    {{ range sort $both }}
        {{ . }}, 
    {{ end }}

</p>   
<p>
    Using intersect
    {{ range $inter }}
        {{ . }}, 
    {{ end }}

</p>   
<p>Using {{ len $both }} we can see it has {{ len $both }} members.</p> 

<h2>Append</h2>

<p>Using append:

{{ delimit $both ", " }}
</p>

<p>And appending the bird array...<br>
{{ $both = $both | append .Page.Params.birds }}
{{ delimit $both ", "}}
</p>
<hr>
<p><code>range .Page.Params.fauna</code></p>
<p>
    {{ range .Page.Params.fauna }}
    {{ . }}
    {{ end }}
</p>