{{/* The ul tags exist even if there are no list. See https://gohugo.io/templates/shortcode-templates/#params */}}

<h2>Unfinished</h2>

<ul>
    {{ range where .Site.Pages ".Page.Params.unfinished" true }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
</ul>


<h2>Drafts</h2>
<ul>
    {{ range where .Site.Pages ".Page.Params.draft" true }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
</ul>

<h2>photoswipe</h2>

<ul>
    {{ range where .Site.Pages ".Page.Params.photoswipe" true }}
    <li>{{ .Title }}</li>
    {{ end }}
</ul>

<h2>draft again</h2>

<ul>
    {{ range  where .Site.Pages ".Page.ByParam.draft" true }}
    <li>{{ .Title }}</li>
    {{ end }}
</ul>