
    
{{ with .Resources.ByType "image" }}
<h2>This page has the following resources</h2>
<ul style="columns: 5 350px; list-style-type: none; padding: 0;">
    {{ range . }}
    <li>{{ .Name }}</li>
    {{ end }}
</ul>
{{ end }}
